@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-image: url(./components/Images/2930341.jpg);
  background-size: cover;
}

body {
  margin: 0;
}
