.button {
  font: inherit;
  border: 1px solid #a0c4ff;
  border-radius: 15px;
  background: #a0c4ff;
  color: white;
  font-weight: 400;
  padding: 0.35rem 1rem;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 80px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: width 3s;
  transition: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.button:hover,
.button:active {
  background: #bdb2ff;
  border-color: #bdb2ff;
  width: 95px;
}

.button:focus {
  outline: none;
}
