.card {
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  /*not in course*/
  width: 250px;
  fill-opacity: 0.2;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card label {
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 19px;
}
